*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    z-index: 1;
    width: 100%;
    position: absolute;
    background-color: transparent;
    .myNavv{
      margin: auto; 
      width: 65%; 
.myMenu{
    display: none;
}
    .navv{
    justify-content: flex-end;
    .navtxt{
        font-size: 12px;
    }
    }
    .navLogo{
        font-weight: bold;
        font-size: 20px;
    }
}
}
 
@media screen and (max-width:991px){
    header{
        .myNavv{
            .myMenu{
                display: block;
            }
            .navLogo{
                font-size: 25px;
            }
            .navv{
                .navtxt{
                    font-size: 17px;
                }
            }
        }
    }
}
    main{
        width: 100%;
        position: relative;
        .first{
            background-color: #D4EAF5;
            .homepg{
                .row{
                    display: flex;
                    align-items: center;
                }
                .txt{
                    display: flex;
                    flex-direction: column;
                   align-items:flex-start;
                //    text-align: center;
                   h2{
                    font-size: 50px;
                    font-weight: 100;
                   }
                    h3{
                        font-size: 60px;
                        font-weight: bold;
                    }
                   p{
                    font-size: 20px;
                   }

                }
                .myimg{
                    width: 100%;
                    height: 850px;
                }
                .btn{
                  background: #fff ;
                  color: #267aa4 ;
                  border-radius: 40px;
                  font-size: 13px;
                  font-weight: 600;
                  text-transform: uppercase;
                }
            }
        }
        .second{
          .row{
            width: 100%;
            margin: 5px 5px;
            .firsticon{
                height: 300px;
                background-color: #F5EBEB;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                .iconsdiv{
                    margin-bottom: 15px;
                    width: 70px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #CB9696;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              } 
              .secondicon{
                height: 300px;
                background-color: #DCEBDD;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                .iconsdiv{
                    margin-bottom: 15px;
                    width: 70px;
                    height: 60px;
                    border-radius: 50%;
                    background-color: #8BBD8E;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              }
              .thirdicon{
                height: 300px;
                background-color: #F5EFD8;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                .iconsdiv{
                    margin-bottom: 15px;
                    width: 70px;
                    height: 60px;
                    border-radius: 50%;
                    background-color:#D1B54A;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              }
              .fourthicon{
                height: 300px;
                background-color: #F4E6D8;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-left: 10px;
                .iconsdiv{
                    margin-bottom: 15px;
                    width: 70px;
                    height: 60px;
                    border-radius: 50%;
                    background-color:#D29A61;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
              }
          } 
        }
        .third{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .myimg{
                position: relative;
            }
            .container{
                position: absolute;
                width: 500px;
                height: 600px;
                right: 200px;
                h6{
                    font-size: 38px;
                    font-weight: 500; 
                    color: #052c43; 
                }
                p{
                    font-size: 16px;
                    color: gray;
                  
                }
                .btn{
                    border-radius: 50%;
                    background-color:#CF7500 ;
                
                }
                
            }
        }
        .fourth {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
          
            .container {
              width: 500px;
              height: 600px;
              right: 200px;
              text-align: center; 
            margin-top: 50px;
            }
            h2{
                font-size: 38px;
                font-weight: 500;
                line-height: 1.4;
                color: #052c43;
            }
            span{
                font-size: 13px;
                display: block;
                margin-bottom: 5px;
                color: rgba(0, 0, 0, 0.3);
                font-weight: 600;
                text-transform: uppercase;
                 letter-spacing: 1px;
            }
            
          }
          
    }
    

